<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API YEAR TO VALUE</title>
</head>
<body>
    <div class="login">
        <h1>
            Canada Per Capita Income
        </h1>
        <form action="{{url_for('predict')}}" method="post">
            <input type="text" name="year" placeholder="YEAR" required>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>
        {{pretxt}}
    </div>
    
</body>
</html>